.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: url: ("../img/fogmountains.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  bacground-size: cover;
  
}
